
/* Universal */

html {
	font-size: 18px;
	font-family: Helvetica, Sans-Serif;
}

body {
	line-height: 1.4;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
	.container {
		max-width: 100%;
	}
}

/* Header */

header {
	background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 30rem;
	padding-top: 1rem;
}

@media only screen and (max-width: 1024px) {
	header {
		height: 22rem;
		padding-top: 0;
	}
}

@media only screen and (max-width: 650px) {
	header {
		height: 17rem;
		background-position: 20%;
	}
}

/* Nav Bar */

nav {
	background-color: cadetblue;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}

nav div {
	display: flex;
	align-items: center;
}

nav img {
	height: 1.5rem;
	margin-left: 2rem;
	margin-right: 1rem;
}

nav ul {
	margin-right: 2rem;
}

nav li {
	display: inline-block;
	margin-right: 2rem;
}

.mobile-menu {
	display: none;
}

@media only screen and (max-width: 650px) {
	.menu {
		display: none;
	}

	.mobile-menu {
		display: block;
	}

	.logo span {
		display: none;
	}
}

/* Main Banner */

header .flex {
	justify-content: flex-end;
}

.flex {
	display: flex;
}

.main-banner {
	background-color: white;
	margin-top: 10rem;
	margin-right: -2rem;
}

.main-banner h1 {
	font-weight: bold;
	font-size: 2rem;
	line-height: 1.2;
	padding: 1.5rem 5rem;
}

@media only screen and (max-width: 1024px) {
	.main-banner {
		margin-top: 5rem;
		margin-right: 2rem;
	}

	.main-banner h1 {
		font-size: 1.33rem;
		padding: 0.75rem 4rem;
	}
}

@media only screen and (max-width: 650px) {
	.main-banner {
		width: 100%;
		margin-top: 9rem;
		margin-right: 0;
	}

	.main-banner h1 {
		font-size: 1rem;
		text-align: center;
		padding: 1rem;
	}
}

/* Services */

.services {
	display: flex;
	justify-content: center;
}

.service {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	height: 8rem;
	width: 5rem;
	margin: 3rem;
}

.service img.paper-icon {
	width: 3.5rem;
}

.service img {
	width: 5rem;
}

.service span {
	display: block;
}

@media only screen and (max-width: 650px) {
	.services {
		flex-direction: column;
		align-items: center;
		margin-top: 3.77rem;
		margin-bottom: 3.77rem;
	}

	.service {
		margin: 1.54rem;
	}

	.service span {
		font-size: 0.77rem;
	}
}

/* Information */

.information {
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
}

.info {
	width: 35%;
	margin-right: 5%;
}

.title {
	background-color: cadetblue;
	color: white;
	font-weight: bold;
	width: 10rem;
	padding: 0.5rem 1.25rem;
	margin-bottom: 1rem;
}

@media only screen and (max-width: 650px) {
	.information {
		flex-direction: column;
		align-items: center;
	}

	.info {
		width: 100%;
		margin-bottom: 4rem;
		margin-right: 0;
	}

	.title {
		width: 100%;
		text-align: center;
	}

	.info p {
		width: 100%;
		font-size: 0.77rem;
	}
}

/* Footer */

footer {
	background-color: azure;
	display: flex;
	align-items: center;
	padding: 4rem;
}

footer img {
	height: 1.5rem;
	margin-right: 1rem;
}

@media only screen and (max-width: 650px) {
	footer {
		justify-content: center;
	}

	footer span {
		display: none;
	}
}








